---
import { type Image } from '@data/site-config'
import Layout from '@layouts/Layout.astro'
import { type CollectionEntry, getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const pages = await getCollection('pages')
  return pages.map(page => {
    return {
      params: { id: page.id },
      props: { page }
    }
  })
}

const { page } = Astro.props as { page: CollectionEntry<'pages'> }
const { title, featureImage, seo } = page.data
const { Content } = await render(page)
let socialImage: Image | undefined
if (featureImage?.src) {
  socialImage = featureImage
}
if (seo?.image?.src) {
  socialImage = seo.image
} 
---

<Layout title={seo?.title ?? title} description={seo?.description} image={socialImage}>
  <main class="grow px-4 py-12 sm:px-8 sm:py-16">
    <article class="mx-auto max-w-6xl">
      <header class="mx-auto mb-9 max-w-3xl">
        <h1 class="text-4xl font-bold text-slate-900 sm:text-5xl">{title}</h1>
      </header>
      {
        featureImage?.src && (
          <figure class="mx-auto mb-9">
            <img src={featureImage.src} loading="lazy" decoding="async" alt={featureImage.alt || ''} class="w-full rounded-md" />
            {featureImage.caption && <figcaption class="mt-1.5 text-xs">{featureImage.caption}</figcaption>}
          </figure>
        )
      }
      <div class="mx-auto max-w-3xl">
        <div class="prose max-w-none prose-slate sm:prose-lg">
          <Content />
        </div>
      </div>
    </article>
  </main>
</Layout>
